{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  <meta name="csrf-token" content="{{ csrf_token }}">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <!-- Page Header on the left -->
      <div class="col-md">
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col">
                <div class="page-header-title">
                  <h5 class="m-b-10">{{ segment }}</h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}"><i class="feather icon-home"></i></a></li>
                  <li class="breadcrumb-item">Active<a href="javascript:"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Button on the right -->
      <div class="col-md-auto">
        <a href="{% url 'flight:create_flight' %}">
          <button type="button" class="btn btn-primary" title="Create Bot"
              data-toggle="tooltip">Add Flight</button>
          </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>List of Active Flights</h5>
        </div>

        <div class="card-block table-border-style">
          <div class="table-responsive">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Bot Name</th>
                          <th>Username</th>
                          <th>URL</th>
                          <th>Details</th>
                          <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for bot in bot_list %}
                      <a href="#">
                          <tr style="color:black;">
                                  {% include 'includes/modal.html' %}
                                  <th scope="row">{{ forloop.counter }}</th>
                                  <td>{{ bot.bot_name }}</td>
                                  <td>{{ bot.bot_username }}</td>
                                  <td>{{ bot.bot_url }}</td>
                                  <td>
                                    <a href="{% url 'bot:edit_bot' bot.id %}">
                                        <button type="button" class="btn btn-primary py-1 px-2" title="View Bot Details" data-toggle="tooltip">
                                            Edit
                                        </button>
                                    </a> 
                                </td>
                                  {% if bot.status == 'inactive' %}
                                    <td>
                                      <button type="button" class="btn btn-primary py-1 px-2" onclick="activateWebhook({{ bot.id }})" title="Activate" data-toggle="tooltip">
                                          Activate
                                      </button>
                                    </td>
                                  {% endif %}
                                  {% if bot.status == 'active' %}
                                    <td>
                                      <button type="button" class="btn btn-primary py-1 px-2" onclick="deactivateWebhook({{ bot.id }})" title="Deactivate" data-toggle="tooltip">
                                          Deactivate
                                      </button>
                                    </td>
                                  {% endif %}
                          </tr>
                      </a>
                      {% endfor %}
                  </tbody>
              </table>
              <div style="display: flex; justify-content: flex-end;" class="mx-4">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                          <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                      {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                          <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
              </nav>
              
          </div>
      </div>    
      </div>  
      </div>
    </div>
  </div>
  <script>
    function activateWebhook(botId) {
      $.ajax({
          url: `/bot/setwebhook/${botId}/`,
          type: 'GET',
          dataType: 'json',
          success: function(response) {
              alert(response.message);
              window.location.reload();
          },
          error: function(xhr, status, error) {
              if(xhr.message){
                alert(xhr.message);
              }
              else{
                alert("Something went wrong");
              }
              window.location.reload();
          }
      });
    }
    function getCsrfToken() {
      return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    }
    function deactivateWebhook(botId) {
      $.ajax({
          url: `/bot/setwebhook/${botId}/`,
          type: 'DELETE',
          dataType: 'json',
          headers: {
            'X-CSRFToken': getCsrfToken()
          },
          success: function(response) {
              alert(response.message);
              window.location.reload();
          },
          error: function(xhr, status, error) {
              if(xhr.message){
                alert(xhr.message);
              }
              else{
                alert("Something went wrong");
              }
              window.location.reload();
          }
      });
    }
  </script>
{% endblock content %}
